@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: grid;
    margin: 0px;
    padding: 0px;
    font-family: Jaro, Roboto, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #8F8BA4;
    color: white;
    height: 20vh;
}

#logo-header {
    width: 25%;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;
    justify-content: flex-end;
}

.info a {
    color: #44424F;
    text-decoration: none;
}

.varukorg {
    width: 216px;
}

.varukorg-header img {
    width: 100%;
    height: 100%;
    background-color: #44424F;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 375px);
    grid-gap: 5rem;
    justify-content: center;
    background-color: #726E87;

}

.produkter {
    display: flex;
    flex-direction: column;
    background-color: #5C596D;
}

.produkt-namn {
    background-color: #BEBBD0;
    height: 67px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.produkt-namn h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.produkter img {
    width: 100%;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pris {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #BEBBD0;
    text-align: center;
}

button {
    background-color: lime;
    color: black;
    border: none;
    padding: 10px;
    margin: 15px;
    width: 100%;
    font-size: large;
    font-family: Jaro, Roboto, sans-serif;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #8F8BA4;
    color: white;
    height: 20vh;
    object-fit: contain;
}

footer img {
    height: 15vh;
    width: auto;
    aspect-ratio: 3.75/1;
}

footer h2 {
    margin: 0;
    font-weight: 100;
}